@use 'breakpoints' as bp;

.page-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-header,
app-mobile-topbar {
  display: block;
  position: sticky;
  top: 0;
  z-index: 100;
}

.page-shell__content {
  flex: 1;
}

.page-shell--with-bottom-nav {
  @include bp.mobile {
    .page-shell__content {
      padding-bottom: 72px;
    }
  }
}
